html {
  font-family: "Jura", sans-serif;
}

* {
  margin: 0%;
}

body {
  background-color: #e3f5ff;
  background-image: url(/Site-portfolio/img/background.png);
}

header {
  width: 100%;
  height: 100vh;
}

p {
  margin: 16px 0 16px 0;
}

.header__animatedBackgroundBox {
  position: absolute;
  height: 15%;
  left: 22.81%;
  right: 22.81%;
  top: 27%;
  width: 55%;
  height: 54.6%;
  border-radius: 35px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.616))
    drop-shadow(-4px -4px 4px #ffffff);
  background: linear-gradient(141deg, #00d0d7, #d3f5f1, #78ceff);
  background-size: 600% 600%;

  -webkit-animation: gradientFlow 10s ease infinite;
  -moz-animation: gradientFlow 10s ease infinite;
  -o-animation: gradientFlow 10s ease infinite;
  animation: gradientFlow 10s ease infinite;
}

@-webkit-keyframes gradientFlow {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@-moz-keyframes gradientFlow {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@-o-keyframes gradientFlow {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@keyframes gradientFlow {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}

img[src="img/GraphDisignerDot.svg"] {
  position: absolute;
  width: 60%;
  height: 90%;
  left: 31.3%;
  top: 9%;
}

img[src="img/circle.svg"] {
  position: absolute;
  width: 10%;
  height: 17%;
  left: 44%;
  top: 72.6%;
}

img[src="img/GraphDesignerMain.svg"] {
  position: absolute;
  width: 55%;
  height: 30%;
  left: 20%;
  top: 40%;
}

.header__logo {
  position: absolute;
  width: 10%;
  height: 12%;
  left: 16%;
  top: 20%;
}

img[src="img/VT.png"] {
  position: absolute;
  max-width: 100%;
  left: 19%;
  top: 22%;
}

main {
  margin: 0;
}

.aboutMe {
  padding: 50px 6% 50px 6%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.aboutMe__blocks {
  background: rgba(217, 217, 217, 0.01);
  box-shadow: -4px -4px 4px rgba(255, 255, 255, 0.65),
    4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  padding: 3%;
  font-size: 2rem;
}

.aboutMe__blocks_row2 {
  grid-row: 1/3;
}

.aboutMe__blocks_column2 {
  grid-column: 2/4;
}

.aboutMe__blocks_lowrow2 {
  grid-row: 3/5;
}

.aboutMe__blocks_me {
  max-width: 100%;
  border-radius: inherit;
}

.aboutMe__blocks_programms {
  max-width: 100%;
  padding: 1% 0 1% 0;
}

.portfolio {
  background: linear-gradient(
    90.15deg,
    rgba(87, 225, 255, 0.47) 0.13%,
    rgba(211, 247, 255, 0) 99.87%
  );
  padding: 20px 6% 20px 6%;
  font-size: 3rem;
}

.portfolio h1 {
  margin: 100px 0 60px 0;
}

.portfolio__gallery_grid {
  margin: 10px 0 10px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.portfolio__gallery_grid > img {
  max-width: 80%;
}

.span221 {
  grid-row: 2 / span 2;
  grid-column: 1;
}

.span122 {
  grid-row: 1 / span 2;
  grid-column: 2;
}

.span223 {
  grid-row: 2 / span 2;
  grid-column: 3;
}

.span124 {
  grid-row: 1 / span 2;
  grid-column: 4;
}

.portfolio__gallery_flex {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5px;
}

.portfolio__gallery_flex__column_bigger {
  flex: 35%;
  max-width: 35%;
  padding: 0 5px;
}

.portfolio__gallery_flex__column_smaller {
  flex: 20%;
  max-width: 20%;
  padding: 0 5px;
}

.portfolio__gallery_flex__column_bigger img {
  margin-top: 10px;
  vertical-align: middle;
  width: 100%;
}

.portfolio__gallery_flex__column_smaller img {
  margin-top: 10px;
  vertical-align: middle;
  width: 100%;
  object-fit: cover;
}

.portfolio img {
  box-shadow: 0px 4px 3px 3px rgba(0, 0, 0, 0.25);
}

footer {
  width: 100%;
  clear: both;
  margin: 100px auto;
  text-align: center;
}

a[href="mailto:teterkinvklol@mail.ru"] {
  box-shadow: -4px -4px 4px rgba(255, 255, 255, 0.65),
    4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  padding: 3%;
  font-size: 2rem;
  text-decoration: none;
  color: black;
  background: linear-gradient(141deg, #00d0d7, #d3f5f1, #78ceff);
  background-size: 600% 600%;

  -webkit-animation: gradientFlow 10s ease infinite;
  -moz-animation: gradientFlow 10s ease infinite;
  -o-animation: gradientFlow 10s ease infinite;
  animation: gradientFlow 10s ease infinite;
}

@-webkit-keyframes gradientFlow {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@-moz-keyframes gradientFlow {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@-o-keyframes gradientFlow {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@keyframes gradientFlow {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}

/* Адаптив через calc
calc(20px + (30-20) * ((100vw - 320px) / (1920 - 320)))
где (20px - это минимальное значение объекта + (30 - изначальное значение - 20 - минимальное значение)*((100vh - ширина экрана - 320px - минимальная ширина экрана) / (1920 - ширина ограничивающего контейнера - 320)))
(минимальное желаемое значение объекта + (изначальное значение - минимальное значение) * ((ширину экрана(во вьюпортах) - минимальная желаемая ширина экрана) / (ширина ограничевающего контейнера - минимальная желаемая ширина экран))) */

/* 768px */
@media (max-width: 48em) {
  .aboutMe {
    grid-gap: 0.5rem;
  }
  .aboutMe__blocks {
    font-size: 0.6rem;
    border-radius: 11px;
  }
  .aboutMe__blocks_row2 {
    grid-row: 1;
  }
  .aboutMe__blocks_lowrow2 {
    grid-row: 2/5;
  }
  .portfolio h1 {
    font-size: 1.5rem;
    margin: 20px 0 20px 0;
  }
  .portfolio__gallery_flex__column_bigger {
    flex: 100%;
    max-width: 100%;
  }
  .portfolio__gallery_flex__column_smaller {
    flex: 100%;
    max-width: 100%;
  }
  a[href="mailto:teterkinvklol@mail.ru"] {
    font-size: 1rem;
  }
}

/* 768px */
@media (min-width: 48em) {
  .aboutMe__blocks {
    font-size: 1rem;
    border-radius: 23px;
  }
  .portfolio h1 {
    font-size: 2rem;
  }
}

/* 1320px */
@media (min-width: 82.5em) {
  .aboutMe__blocks {
    font-size: 2rem;
  }
  .portfolio h1 {
    font-size: 3rem;
  }
}
